<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>from_data</title>
</head>
<body>
<section style="width: 80%; height: 300px; margin: 0 auto; border: 2px solid green">
<h1 style="margin: 20px"> form to upload Json file
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" style="margin: 20px; font-size:20px; ">
        <br>
        <input type="submit" value="upload" style="margin: 20px 20px; font-size:20px">
    </form>
</h1>

<a href="/get_data" style="margin: 100px;"><button>Перейти на страницу содержимого БД</button></a>

</body>
</html>